<div class="container">
    <div class="row" id="page_info">
        <h1 class="col-6"> <%= @merchant.name %> </h1>
        <ul class="nav nav-tabs col-6" id="tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="dash-tab" data-bs-toggle="tab" data-bs-target="#item" role="tab" aria-controls="dash" aria-selected="true">Dashboard</a>
            </li>
            <li class="nav-item" role="presentation" id="item-tab" data-bs-toggle="tab" data-bs-target="#item" role="tab" aria-controls="item" aria-selected="true">
                <a class="nav-link" href="<%=merchant_items_path(@merchant)%>">My Items</a>
            </li>
            <li class="nav-item" role="presentation" id="invoice-tab" data-bs-toggle="tab" data-bs-target="#invoice" role="tab" aria-controls="invoice" aria-selected="true">
                <a class="nav-link" href="<%= merchant_invoices_path(@merchant) %>">My Invoices</a>
            </li>
        </ul>
    </div>
</div>
<div class="container" id="TabContent">
    <div class="row">
        <div class="col-6" id="items_to_ship">
            <table class="table table-dark table-striped" id="" role="tabpanel" aria-labelledby="dash-tab">
                <h2> Items Ready To Ship </h2>
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Invoice Number</th>
                    <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% @merchant.items_ready_to_ship.each_with_index do |item, index| %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= item.name %></td>
                        <td>Invoice #<%= item.invoice_id %></td>
                        <td><%= item.created_at.strftime("%A %B %d  %Y") %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-6" id="top_customers">
            <table class="table table-dark table-striped">
                <h2> Favorite Customers </h2>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Number of Successful Transactions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @merchant.top_customers.each_with_index do |customer, index| %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <th scope="row"><%= customer.first_name %> <%= customer.last_name %></th>
                        <th scope="row">
                            <% if customer.transaction.result = "success" %>
                                <%= customer.transaction.count %>
                            <% end %>
                        </th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
