<h1>New Merchant</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(model: [:admin, @merchant], url: admin_merchants_path) do |form| %>
  <% if @merchant.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @merchant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
